body {
  overflow: hidden;
}

.slide-img-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}

.slide-img-container img {
  box-shadow: none !important;
}

.img-polaroid {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar {
  display: none !important;
}

.row-fluid .span2 {
  display: none !important;
}

.row-fluid .span12 {
  display: none !important;
}
